.gallery {
	display: block;
	width: 880px;
	margin: auto;
	margin-top: 40px;
	
	img:nth-child(even) {
			margin-right: 0;
			background-color: red;
		}
	
	&__image {
		width: 200px; 
		height: 200px;
		object-fit: cover;
		object-position: 0 0;
		margin: 14px;
		margin-top: 14px;
		filter: grayscale(1.0) opacity(100%);
		
		&--offset-right-80 {
			object-position: 80% 0;
		}
		&:hover {
			filter: grayscale(0.0);
		}
		
		&--animation-frames {
			animation: frames 2.2s steps(5) infinite;
		}
		
		&--animation-crossfade {
			animation: crossfade 1s infinite ease-out;
		}
	}
}

/*animation keyframes */

@keyframes frames {
	
	100% {object-position: 0 -1000px;}
}

@keyframes crossfade {
	100% {opacity: .1;}
}


