.nav {
	margin-top: 40px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: .7rem;
	height: 50px;
	background-color: $mainGrey; 
	z-index: 1;
	text-align: center;

	
	&__resume {
		display: none;
		
		@mixin atSmall {
		display: inline;
		}
	}

	li {
	display: inline;
	line-height: 50px;
	padding: 0 20px;

	@mixin atSmall {
	float: right;
	}

	&:hover {
	text-decoration: underline;
	}
	}
}